<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <title>CamissWorks</title>
   <script src="https://unpkg.com/scrollreveal"></script>
   <link rel="shortcut icon" href="./images/brownnie.ico" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   <link rel="stylesheet" href="./stylesheets/style.css"> <link rel="stylesheet" href="./stylesheets/header.css"> <link rel="stylesheet" href="./stylesheets/efectName.css"
</head>

<body>

  <header id="topo">
         <div class="container">
         <img src="./images/logo3.png" alt="logo">
         <div class="menu">
             <nav>
                 <a href="#home">Home</a>
                 <a href="#aboutMe">About Me</a>
                 <a href="#mySkill">My Skill</a>
                 <a href="#projetos">Projetos</a>
                 <a href="#especialidaes">Especialidades</a>
                 <button type="button" onclick="Contact()">Contact</button>
              </nav>
         </div>

         <button id="mobie-btn">
            <i class="bi bi-list"></i>
         </button>
      </div>

      <div class="mobie-menu">
        <ul class="mobie-nav-menu">
            <li class="nav-item">
                <a href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a href="#aboutMe">About Me</a>
            </li>
            <li class="nav-item">
                <a href="#mySkill">My Skill</a>
            </li>
            <li class="nav-item">
                <a href="#projetos">Projetos</a>
            </li>
            <li class="nav-item">
                <a href="#especialidaes">Especialidades</a>
            </li>
            <button class="btn-menu-mobie" type="button" onclick="Contact()">Contact</button>
        </ul>
     </div>

  </header>