<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Contacts</title>
  <link rel="shortcut icon" href="./images/brownnie.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./stylesheets/contact.css">
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <img src="./images/icon-me.jpeg" alt="icon-me">
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">

                    <div class="title">
                        <h1>My Contact</h1>
                    </div>

                    <div class="buttons">
                        <div class="button-a">
                            <i class="bi bi-envelope-at-fill"></i>
                            <a href="mailto:camila.brauna08@aluno.ifce.edu.br" target="_blank"><button>Email</button></a>
                        </div>

                        <div class="button-a">
                            <i class="bi bi-instagram"></i>
                            <a href="https://www.instagram.com/jessi_kaa01/" target="_blank"><button>Instagram</button></a>
                        </div>

                        <div class="button-a">
                            <i class="bi bi-github"></i>
                            <a href="https://github.com/Cam1ss" target="_blank" > <button>GitHub</button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>